@import "~emojione/lib/emojione-awesome/_emojione-awesome.map";

[class*="e1a-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: -0.2ex 0.05em 0 0.1em;
  line-height: normal;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1em 1em;
}

$size-map: (
  "sm": 1,
  "med": 2,
  "lg": 4,
);

@each $name, $size in $size-map {
  .e1a-#{$name} {
    width: 32px * $size;
    height: 32px * $size;
    margin: -0.2ex * $size 0.05em * $size 0 0.1em * $size;
    background-size: 1em * $size 1em * $size;
  }
}

@each $code, $name in $emoji-map {
  .e1a-#{$name} {
    background-image: url("https://cdn.jsdelivr.net/emojione/assets/4.0/png/128/#{$code}.png");
  }
}
